@page
@model YogaManagement_WebApp.Pages.InstructorsClasses.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InstructorClass</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstructorClass.FK_Instructor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstructorClass.FK_Instructor.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstructorClass.FK_Class)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstructorClass.FK_Class.Description)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="InstructorClass.InstructorId" />
        <input type="hidden" asp-for="InstructorClass.ClassId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
