@page
@model YogaManagement_WebApp.Pages.ClassLocations.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ClassLocation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClassLocation.Id" />
            <div class="form-group">
                
                <label asp-for="ClassLocation.description" class="control-label"></label>
                <input asp-for="ClassLocation.description" class="form-control" />
                <span asp-validation-for="ClassLocation.description" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="ClassLocation.Location" class="control-label"></label>
                <input asp-for="ClassLocation.Location" class="form-control" />
                <span asp-validation-for="ClassLocation.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="ClassLocation.MaxCapacity" class="control-label"></label>
                <input asp-for="ClassLocation.MaxCapacity" class="form-control" />
                <span asp-validation-for="ClassLocation.MaxCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="ClassLocation.FormatsAvailable" class="control-label"></label>
                <input asp-for="ClassLocation.FormatsAvailable" class="form-control" />
                <span asp-validation-for="ClassLocation.FormatsAvailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
